# Copia este archivo como .env y completa los valores
# NO subas .env a GitHub

SECRET_KEY=django-insecure-cambia-esto-por-una-clave-segura
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Supabase / PostgreSQL
DB_NAME=postgres
DB_USER=postgres.mgxxhvzjvvsrkgwrjrze
DB_PASSWORD=patatu10patatu
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=6543
